<div class="sub-heading d-inline-flex align-items-center">
  <i class="flaticon-sparkler"></i>
  <span class="sub-title">{{ section.settings.section_subtitle }}</span>
</div>
<h2>{{ section.settings.section_title }}</h2>
